<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="START TYPING...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="/libs/adminbsb-materialdesign/index.html">TeamSuite</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <teamsuite-topbar></teamsuite-topbar>
        </div>
    </div>
</nav>
<!-- #Top Bar -->

<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <teamsuite-userinfo></teamsuite-userinfo>
        <teamsuite-menu></teamsuite-menu>
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                TeamSuite &copy; 2016 <a href="javascript:void(0);">Bartosz Siemieńczuk</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0.0
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        <teamsuite-sidebar></teamsuite-sidebar>
    </aside>
    <!-- #END# Right Sidebar -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
          <!-- Main content -->
          <router-outlet></router-outlet>
          <!-- -->
        </div>
    </div>
</section>
