<div class="card">
  <div class="header">
    USER PROFILE
  </div>
  <div class="body">
    <form class="form-horizontal">
      <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
              <label for="login">Login</label>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
              <div class="form-group">
                  <div class="form-line">
                      <input [(ngModel)]="user.login" [ngModelOptions]="{standalone: true}" readonly="readonly" id="login" class="form-control" type="text">
                  </div>
              </div>
          </div>
      </div>      
      
      <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
              <label for="login">E-mail</label>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
              <div class="form-group">
                  <div class="form-line">
                      <input [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" id="email" class="form-control"  type="text">
                  </div>
              </div>
          </div>
      </div>      
      
      <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
              <label for="login">Name</label>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
              <div class="form-group">
                  <div class="form-line">
                      <input [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" id="name" class="form-control" type="text">
                  </div>
              </div>
          </div>
      </div>
      
      <div class="row clearfix">
        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
          User : {{user.login}} {{user.email}} {{user.name}}
          <a class="btn btn-primary waves-effect"><i class="material-icons">save</i> Save</a>
        </div>
      </div>
      
    </form>
          
  </div>
</div>