<!-- Top header area -->
<div class="ui inverted vertical center aligned segment"> 
  <div class="ui text container">
    <h1 class="ui inverted header">
      Bax TeamSuite
    </h1>
    <h2>Do you want to enhance your teamwork?</h2>
    <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
  </div>
</div> 
<!-- Header end -->

<div class="ui vertical strip segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        COL1
      </div>
      <div class="eight wide column">
        COL2
      </div>
    </div>
  </div>
</div>