<div *ngIf="loggedIn==false" class="ui middle aligned center aligned grid container">
  <div class="eight wide column">
    <h2 class="ui yellow header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input #login (keyup)="0" name="login" placeholder="Username" type="text">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input #password (keyup)="0" name="password" placeholder="Password" type="password">
          </div>
        </div>
        <button type="button" (click)="submitLogin(login.value, password.value)" class="ui fluid large yellow submit button">Login</button>
      </div>
      {{login.value}} {{password.value}}
      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="#">Sign Up</a>
    </div>
  </div>
</div>

<div *ngIf="loggedIn" class="ui middle aligned center aligned grid container">
  <div class="eight wide column">
    <h2 class="ui yellow header">
      <div class="content">
        Jesteś zalogowany jako {{user.login}}. <a class="ui basic button" (click)="submitLogout()">Wyloguj</a> <br/>
      </div>
    </h2>
  </div>
</div>


