<!-- Menu -->
<div class="menu">
    <ul class="list">
        <li class="header">SELECT COMPONENT</li>
        <li>
            <a routerLink="/" routerLinkActive="active">
                <i class="material-icons">home</i>
                <span>HOME</span>
            </a>
        </li>
        <li *ngIf="user===null">
            <a routerLink="/login" routerLinkActive="active">
                <i class="material-icons">lock_open</i>
                <span>SIGN IN</span>
            </a>
        </li>
        <li>
            <a class="menu-toggle">
                <i class="material-icons">sms</i>
                <span>COLLABORATE</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a routerLink="/chat" routerLinkActive="active">
                        <span>Chat</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/drawing" routerLinkActive="active">
                        <span>Painter</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a class="menu-toggle">
                <i class="material-icons">bug_report</i>
                <span>MANAGE & MAINTAIN</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a routerLink="/notes" routerLinkActive="active">
                        <span>Your notes</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/todos" routerLinkActive="active">
                        <span>Team's To-do list</span>
                    </a>
                </li>

                <li *ngIf="isAdmin()">
                    <a routerLink="/admin/teams" routerLinkActive="active">
                        <span>Manage teams</span>
                    </a>
                </li>

                <li *ngIf="isAdmin()">
                    <a routerLink="/admin/users" routerLinkActive="active">
                        <span>Manage users</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- #Menu -->