<!-- Menu -->
<div class="menu">
    <ul class="list">
        <li class="header">SELECT COMPONENT</li>
        <li>
            <a routerLink="/" routerLinkActive="active">
                <i class="material-icons">home</i>
                <span>HOME</span>
            </a>
        </li>
        <li *ngIf="user===null">
            <a routerLink="/login" routerLinkActive="active">
                <i class="material-icons">lock_open</i>
                <span>SIGN IN</span>
            </a>
        </li>
        <li>
            <a class="menu-toggle">
                <i class="material-icons">sms</i>
                <span>COLLABORATE</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a routerLink="/chat" routerLinkActive="active">
                        <span>Chat</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Painter</span>
                    </a>
                </li>
            </ul>
        </li>
      
        <li>
            <a href="#" class="menu-toggle">
                <i class="material-icons">bug_report</i>
                <span>MAINTAIN</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="#">
                        <span>Your projects</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Your tasks</span>
                    </a>
                </li>
            </ul>
        </li>
      
      
        <li>
            <a href="#" class="menu-toggle">
                <i class="material-icons">settings</i>
                <span>MANAGE</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="#">
                        <span>Your teams</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- #Menu -->