<ul class="nav nav-tabs tab-nav-right" role="tablist">
    <li role="presentation" class="active"><a href="#teams" data-toggle="tab"><i class="material-icons">people</i> TEAMS</a></li>
    <li role="presentation"><a href="#settings" data-toggle="tab"><i class="material-icons">settings</i> SETTINGS</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active in active" id="teams">
        <p>SELECT ACTIVE TEAM</p>
        <ul class="demo-choose-skin">
          <li *ngFor="let team of userTeams" (click)="setSelectedTeam(team)"><span>{{team.name}} <i *ngIf="team._id==selectedTeam._id" class="material-icons">check</i></span></li>
        </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="settings">
        <div class="demo-settings">
            <p>ACCOUNT SETTINGS</p>
            <ul class="setting-list">
                <li>
                    <span>Hide online status</span>
                    <div class="switch">
                        <label><input type="checkbox" checked><span class="lever"></span></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>